@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

.wrap {
  width: 70%;
  margin: 50px auto;
  border: 10px solid #000;
  padding: 20px;
}

/* masonry layout */
.gallery-list {
  column-count: 4; /* 순서가 중요할 때는 x, 아닐 경우에  good*/
  column-gap: 10px; /* 갭이 좌우로만 떨어짐.  */
}
.gallery-list li {
  margin-bottom: 10px; /* 그래서 li의 마진을 주어서 띄워야함. */

  width: 100%;
  cursor: pointer;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  /* 제이쿼리 효과 */
  display: none;
}

.popup {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #fff;
  opacity: 0;
  transition: 0.4s;
  background: #fff;
}

.popup.active {
  opacity: 1;
  top: 50%;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 0;
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;

  cursor: pointer;
  border: none;
}
